<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raw Journal Messages</title>
    <link rel="stylesheet" href="/static/cockpit.css"/>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
</head>
<body>

<h1>EDMC Journal Events</h1>
<pre id="logs">
</pre>

<script type="text/javascript">
    const logs = (text, color) => {
        let $logs = $('#logs');
        $logs.prepend(text + "\n");
        let txt = $logs.text();
        $logs.text(txt.substring(0, 32768));
    };

    const socket = new WebSocket('ws://' + location.host + '/journal/events');
    socket.addEventListener('message', ev => {
        logs('<<< ' + ev.data, 'orange');
    });

</script>
</body>
</html>