{% extends "base.html" %}
{% block title %}
EDMC Cockpit
{% endblock %}

{% block content %}
    <h1>EDMC Cockpit &gt;</h1>
    <table>
        <tr>
            <th>EDMC Version:</th>
            <td>{{ module.edmc_version }}</td>
        </tr>
        <tr>
            <th>Python Version:</th>
            <td>{{ module.python_version }}</td>
        </tr>
    </table>
    <p>
        Available modules:
    </p>
    <ul>
        {% for name, module in module.server.modules.items()|sort(attribute='1.name') %}
            <li>
                {% if module.has_page and module.url_prefix %}
                    <a href="{{ module.url_prefix }}">{{ name }}</a>
                {% else %}
                    {{ name }}
                {% endif %} - <i>{{ module.__doc__ }}</i>
            </li>
        {% endfor %}
    </ul>
{% endblock %}